
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

body {
    background-color: #bbbec5;
}

footer {
    background-color: #ccc;
}


/* HEADER */
/* navbar */

.navbar {
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1), 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3);
}

.navbar-brand span {
    letter-spacing: 2px;
}

.nav-link:hover {
    color: red !important;
}

.nav-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.nav-item ul li a {
    border-bottom: none;
}

/* card */

.card-img-top{
    width: auto;
    height: auto;
}
.card{
    width: 280px;
    height: auto;
    border-radius: 50px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45); 
    margin: 1.5rem;
}
.card:hover{
    transform: scale(1.05);
}
.card{
    /* Không cho phép xuống dòng */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight:bold ;
    font-size: 1.2rem;
    color: black; 
}
.card-header{
    width: auto;
    height: auto;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #00bfff, 0 0 30px #00bfff, 0 0 40px #1e90ff, 0 0 50px #1e90ff, 0 0 60px #1e90ff, 0 0 70px #1e90ff;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #00ced1, 0 0 40px #00ced1, 0 0 50px #20b2aa, 0 0 60px #20b2aa, 0 0 70px #20b2aa, 0 0 80px #20b2aa;
    }
}

h1.glow {
    font-size: 4rem;
    color: white;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.price-sale {
    text-decoration: line-through;
}

.btn-danger {
    border-radius: 50px;
}

.card-link:hover {
    color: red;
}


/* cartTab */

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
}

.cartTab .btn button {
    background-color: red;
    border: none;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    padding: 15px;
}

.cartTab .btn .close {
    background-color: #ccc;
}

.cartTab .list-card .item img {
    width: 100%;
}

.cartTab .list-card .item {
    display: grid;
    grid-template-columns: 50px 100px 100px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.list-card .quantity span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #eee;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

.list-card .quantity span:nth-child(2) {
    background-color: transparent;
    color: black;
}

.list-card .item:nth-child(even) {
    background-color: #bbbec5;
}

.list-card {
    overflow: auto;
    margin-top: 10px;
}

.list-card::-webkit-scrollbar {
    width: 0;
}
/* carousel */
.carousel-item{
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

.bxs-bell {
    font-size: 1.2rem;
}

.text-shop {
    color: #20b2aa;
}